<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Contracts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
  <div class="vertical_flex">
    <div id=greeting>
      <div th:if="${role == 'HUNTER'}">
        <div th:insert="fragments/hunter_site :: greeting"></div>
      </div>
      <div th:if="${role == 'CONTRACTOR'}">
        <div th:insert="fragments/contractor_site :: greeting"></div>
      </div>
    </div>
    <div id=buttons>
      <div th:if="${role == 'HUNTER'}">
        <div th:insert="fragments/hunter_site :: buttons"></div>
      </div>
      <div th:if="${role == 'CONTRACTOR'}">
        <div th:insert="fragments/contractor_site :: buttons"></div>
      </div>
    </div>
    <div id="view"></div>
    <div id="logout">
      <form th:action="@{/logout}" method="GET">
        <button>Log Out</button>
      </form>
    </div>
  </div>
</body>

</html>