<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Contracts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>

<body>

  <div th:switch="${role}">
    <div th:case="HUNTER">
    </div>
    <div th:case="CONTRACTOR">
      <div th:insert="fragments/contractor_header :: header"></div>
      <div id="view"></div>
    </div>
  </div>
  <div>
    <form th:action="@{/logout}" method="GET">
      <button>Log Out</button>
    </form>
  </div>
</body>

</html>