<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head> 
    <title>Hunters</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="vertical_flex">
        <div id="greeting">
            <table class="heading"><td class="heading"><h2>Welcome Hunters and Contractors.</h2></td></table>
        </div>
        <div id="buttons">
            <form th:action="@{/register}" method="GET">
                <button>Register</button>
            </form>
            <form th:action="@{/dashboard}" method="GET">
                <button>Log In</button>
            </form>
        </div>
    </div>
</body>
</html>