<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head> 
    <title>Hunters</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Input email of hunter</p>
    <form th:action="@{/register}" method="GET">
        <button>Send</button>
    </form>
    <form th:action="@{dashboard}" method="GET">
        <input name="email" type="text">
        <button>Send</button>
    </form>
</body>
</html>