<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>BountyHunters</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
        <form class="sec_form" th:action="@{/register}" method="post">
            <div class="inputs">
                <div class="input">User Name: <input type="text" name="username"/></div>
                <div class="input">Password: <input type="password" name="password"/></div>
                <div class="input">Role: 
                    <select name="role" id="role">
                        <option value="HUNTER">Hunter</option>
                        <option value="CONTRACTOR">Contractor</option>
                    </select>
                </div>
                <div class="submit"><input type="submit" value="Register"/></div>
            </div>
        </form>
    </body>
</html>